body {
  background: url(../public/img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.container {
  max-width: 90%;
}

/* .App {
  position: relative;
  height: 100%;
} */

body::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
  z-index: -1;
}


.movie-title {
  color: #FF9800;
  font-weight: 700;
  
}

.screen {
  background: rgba(199, 200, 204, 0.4);
  margin-bottom: 30px;
  padding: 5px 0;
}

.screen h4 {
  color: white;
  margin: 0;
}

.table, tr, th, td {
  border: none !important;
}

.seat-selection {
  margin-left: -30px !important;
  margin-right: 30px !important;
}

.seat-selection th {
  width: calc(100% / 13);
} 

.seat-code {
  font-weight: 700;
  color: #FF9800;
}

.seats {
  position: relative;
}

.seat-checkbox::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 30px;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  border: 3px solid #FF9800;
  cursor: pointer;
}

.seat-checkbox:checked::after {
  background: #008000;
}

.seat-checkbox.booked::after {
  background: #FF0000;
}

.seats {
  padding: 0 !important;
}

.booking-details span {
  color: white;
}

.booking-details .col-4 {
  padding: 0;
}

.booking-content {
  background:  rgba(255, 153, 0, 0.7);
  height: 100%;
}


.table-wrapper {
  position: relative;
  margin-top: 60px;
}


.table-scroll {
  height: 250px;
  overflow-y: auto;
}

.table-wrapper table {
  width: 100%;
}

.table-wrapper table::before {
  content: '';
  width: 80%;
  height: 1px;
  background: black;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.table-wrapper table::after {
  content: '';
  width: 80%;
  height: 1px;
  background: black;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.table-wrapper table thead th:nth-of-type(1){
  position: absolute;   
  top: -60px;
  width: 50%;
  font-size: 20px;
}

.table-wrapper table thead th:nth-of-type(2){
  position: absolute;   
  top: -60px;
  right: 10px;
  width: 50%;
  font-size: 20px;
}

.table-wrapper table tbody tr td {
  width: 50%;
}

.booking-text {
  font-weight: 700;
}

.booking-summary {
  padding-left: 60px;
}